@charset "UTF-8";
form {
	 text-align:center; 
	 padding-top: 10%;
	 position: relative;
}
form #diary_title{
	margin: 10px 10px;
	padding : 10px;
}
form #year, #month, #day{
	margin: 10px 0;
}
option{
	padding: 10px;
}
form #diary_write{
	margin:10px 10px;
}
#button{
	border-radius: 20px;
	border: 1px solid #eee;
	background-color:#fff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
#botton:hover{
	background-color: #e55d87;
	color:#e55d87;
}

